body{
    width: 100%;
    padding: 0;
    margin: 0;
}

.header{
    height: 4em;
    width: 100%;
    background-color: rgba(47, 43, 43, 0.441);
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    z-index: 10
}

.header .title{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: calibri;
    color: white;
}

.header .nav-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header .nav-cont .nav-item{
   font-size: 17px;
    font-family: calibri;
    cursor: pointer;
    text-transform: uppercase;
    font-family: calibri;
    color: white;
    letter-spacing: 2px;
}

