{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'car_rental_app/base.css' %}">
    <link rel="stylesheet" href="{% static 'car_rental_app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'car_rental_app/fa/allicons.css' %}">
</head>

<header class="header">
    <div class="title">KKO Car Rentals</div>
    <div class="nav-cont">
        <div class="nav-item">Home</div>
        <div class="nav-item">Resources</div>
        <div class="nav-item">Vehicle Fleet</div>
        <div class="nav-item">Blog</div>
        <div class="nav-item">shop</div>
    </div>
    <div>

    </div>
</header>