{% load static %}
{% load base_ui %}


{% base_component active="dennis" %}

<div style="width: 100%; height: 100%; position:relative">
    <video autoplay loop muted src="{% static 'car_rental_app/imgs/v2.mp4' %}"
           style="object-fit: fill; width:100%; height:100%">

    </video>
    <div class="over-vid">
        <!--        <div class="basic-info">-->
        <!--            <div><i class="fa-regular fa-phone"></i>+233-25-680-8322</div>-->
        <!--            <div><i class="fa-regular fa-location-pin"></i>Abelenkpe Round House</div>-->
        <!--            <div><i class="fa-regular fa-envelope"></i>nanakwame@gmail.com</div>-->
        <!--        </div>-->
        <div class="over-vid-001">
            <div class="need-a-car">Need to rent a car?</div>
            <button class="request-now">Request NOW</button>
            <!--            <div style="display: flex; font-size:20px; text-transform:uppercase; color:white; letter-spacing: 3px; margin-top:30px;-->
            <!--            flex-direction:row; align-items:center; justify-content:space-evenly; width:50%">-->
            <!--                <div>Comfort</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Luxury</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Fast</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Save</div>-->
            <!--            </div>-->
        </div>
        <!--        <div class="over-vid-002">-->
        <!--            <button style="background-color: #4eab4e; color:white">JOIN NOW</button>-->
        <!--            <button style="background-color: #0000ff; color:white">LOGIN</button>-->
        <!--        </div>-->
    </div>
</div>

<div class="two-equal-col">
    <div class="col-1">What we provide is the lurxury transport and most Comfortable Experience</div>
    <div class="col-2">Vpsnd shdh nssjb depdj pjsjshrlhd hdlnps fja
        faofhaf foaf foi aoi fhqng egiosn gsb glin ajgubea aaubfljeab foubgaeo hgeb gaes sdjnlkc qcpoiwqc oiaqnc bwoc
        nsoicanbcoa;o coahabacab aac ascoa saocnacb
        <br><br>

        <div style="display: flex; align-items:center; margin-left: -25px">
            <i class="fa fa-headset"
               style="font-size: 50px"></i>&nbsp;&nbsp;&nbsp;<span>CALL CENTER: +233-25-680-8322</span>
        </div>
    </div>
</div>

<div class="product-3-col">
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
    <div class="product-cont">
        <div class="product"></div>
        <div class="label">
            <div class="text">Porsche 911 GT3 RS</div>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    </div>
</div>


<div class="r-003">
    <div class="large">
        Ride to destinations<br>
        With Maximum Comfort
    </div>
    <div class="small">FINEST TRANSPORT</div>
    <hr>

    <div class="three-col">
        <div class="col">
            <div class="row">
                <div class="large">No Delays</div>
                <div class="small">We dont delay yast sidsa dsd insid nidns as dsd ejwomd sadsal sadkdn od nsodnodn 2sdd sdvcs dsajsa
                    sd ajsd asdc
                </div>
            </div>
            <div class="row">
                <div class="large">No Delays</div>
                <div class="small">We dont delay yast sidsa dsd insid nidns as dsd ejwomd sadsal sadkdn od nsodnodn 2sdd sdvcs dsajsa
                    sd ajsd asdc
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="large">No Delays</div>
                <div class="small">We dont delay yast sidsa dsd insid nidns as dsd ejwomd sadsal sadkdn od nsodnodn 2sdd sdvcs dsajsa
                    sd ajsd asdc
                </div>
            </div>
            <div class="row">
                <div class="large">No Delays</div>
                <div class="small">We dont delay yast sidsa dsd insid nidns as dsd ejwomd sadsal sadkdn od nsodnodn 2sdd sdvcs dsajsa
                    sd ajsd asdc
                </div>
            </div>
        </div>
    </div>
</div>


<div style="width: 100%; height: 10em"></div>