{% load static %}
{% load base_ui %}


{% base_component active="dennis" %}

<div style="width: 100%; height: 100%; position:relative">
    <video autoplay loop muted src="{% static 'car_rental_app/imgs/v2.mp4' %}"
           style="object-fit: fill; width:100%; height:100%">

    </video>
    <div class="over-vid">
        <!--        <div class="basic-info">-->
        <!--            <div><i class="fa-regular fa-phone"></i>+233-25-680-8322</div>-->
        <!--            <div><i class="fa-regular fa-location-pin"></i>Abelenkpe Round House</div>-->
        <!--            <div><i class="fa-regular fa-envelope"></i>nanakwame@gmail.com</div>-->
        <!--        </div>-->
        <div class="over-vid-001">
            <div class="need-a-car">Need to rent a car?</div>
            <button class="request-now">Request NOW</button>
            <!--            <div style="display: flex; font-size:20px; text-transform:uppercase; color:white; letter-spacing: 3px; margin-top:30px;-->
            <!--            flex-direction:row; align-items:center; justify-content:space-evenly; width:50%">-->
            <!--                <div>Comfort</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Luxury</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Fast</div>-->
            <!--                <div>|</div>-->
            <!--                <div>Save</div>-->
            <!--            </div>-->
        </div>
        <!--        <div class="over-vid-002">-->
        <!--            <button style="background-color: #4eab4e; color:white">JOIN NOW</button>-->
        <!--            <button style="background-color: #0000ff; color:white">LOGIN</button>-->
        <!--        </div>-->
    </div>
</div>

<div class="div-qw">
    <div class="two-equal-col">
        <div class="col-1">What we provide is the lurxury transport and most Comfortable Experience</div>
        <div class="col-2">Experience the epitome of opulence with our premium transportation services. From plush
            interiors to seamless journeys, every moment is crafted for your utmost comfort. Let us elevate your travel
            experience to new heights of luxury.
            <br><br>

            <div style="display: flex; align-items:center; margin-left: -25px">
                <i class="fa fa-headset"
                   style="font-size: 50px"></i>&nbsp;&nbsp;&nbsp;<span>CALL CENTER: +233-25-680-8322</span>
            </div>
        </div>
    </div>

    <div class="product-3-col">
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/car.png' %}">
            </div>
            <div class="label">
                <div class="text">Honda CR-V</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/bmw.webp' %}">
            </div>
            <div class="label">
                <div class="text">BMW X6</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/ford.png' %}" style="transform: scale(0.99)">
            </div>
            <div class="label">
                <div class="text">2023 MUSTANG MACH-E</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/benz.jpg' %}" style="transform: scale(1.5)">
            </div>
            <div class="label">
                <div class="text">AMG GLE 63 S Coupe</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/kia.png' %}">
            </div>
            <div class="label">
                <div class="text">KIA Sportage</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        <div class="product-cont">
            <div class="product">
                <img src="{% static 'car_rental_app/imgs/toyota.png' %}" style="transform: scale(0.90)">
            </div>
            <div class="label">
                <div class="text">Toyota Highlander</div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="r-003">
        <div class="large">
            Ride to destinations<br>
            With Maximum Comfort
        </div>
        <div class="small">FINEST TRANSPORT</div>
        <hr>

        <div class="three-col">
            <div class="col">
                <div class="row">
                    <div class="large">Comfort</div>
                    <div class="small">Experience unparalleled comfort from the moment you step into our vehicles. No
                        more waiting around, just pure relaxation.<br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="large">No Delays</div>
                    <div class="small">Say goodbye to delays! We pride ourselves on prompt service, ensuring you get on
                        the road swiftly and hassle-free.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="large">High Quality</div>
                    <div class="small">Our commitment to excellence means you'll always receive vehicles maintained to
                        the highest standards. Enjoy your journey with peace of mind.
                    </div>
                </div>
                <div class="row">
                    <div class="large">A Diverse Selection</div>
                    <div class="small">Explore our diverse selection of vehicles tailored to suit your needs. Whether
                        it's a sleek sedan for a city escape or a spacious SUV for a family adventure, we've got you
                        covered.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="width: 100%; height: 10em"></div>
</div>
